*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
html{
  overflow-x: hidden;
}
:root{
  --primary: #fff;
  --seco: #F4F4F4;
  --accent: #578DF5;
  --bg-color: white;
  --text-color: black;
}
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: white;
}
.form{
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  width: 30vw;
  min-height: 30vh;
}
.inputBox{
  width: 100%;
  background-color: var(--seco);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputBox input{
  flex: 1;
  padding: 7px;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.btnBig{
  width: 100%;
  padding: 10px;
  background-color: var(--accent);
  color: var(--primary);
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: ease .3s;
}
.btnBig:hover{
  transform: scale(102%);
}
.btnNormal{
  min-width: 130px;
  padding: 10px;
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.gridItems{
  width: 100%;
  padding: 0px 50px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.gridItems.gridOne{
  grid-template-columns: auto;
}
.gridItems .note{
  width: 23vw;
  background-color: var(--seco);
  padding: 10px;
  cursor: pointer;
  height: 220px;
}
.sp-text{
  color: var(--accent);
}
.jodit-wysiwyg{
  min-height: 200px !important;
}
.checkBox.active{
  background-color: #578DF5;
}
